## 2009 ~ 2020년까지 공/사 교육 만족도 그래프

In [5]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

path = '공사 교육환경 만족도/'
file_list = os.listdir(path)
    
file_list_py = [file for file in file_list if file.endswith('.xls')]
file_list_py.sort()

for i in file_list_py:
    if (i == file_list_py[0]) | (i == file_list_py[1]) | (i == file_list_py[2]):
        before_edu = pd.read_excel('공사 교육환경 만족도/' + i, header=[0,1])

        if (i == file_list_py[0]):
            before_edu_df = before_edu.iloc[[1],:]
        else:
            before_edu_df = before_edu_df.append(before_edu.iloc[[1],:], ignore_index=True)
    else:
        continue

In [7]:
for i in range(13,21):
    df_edu_satifi = pd.read_excel('공사 교육환경 만족도/20' + str(i) + '년.xls')
    df_edu_satifi.rename(columns={'사교육 환경':'사교육 전체', '사교육 환경.1':'비용','사교육 환경.2':'교육수준','사교육 환경.3':'접근성'}, inplace=True)
    if i == 13 :
        seoul_edu_df = df_edu_satifi.iloc[[1],:]
#         seoul_edu_df = df_edu_satifi.iloc[1]
    else :
        seoul_edu_df = seoul_edu_df.append(df_edu_satifi.iloc[[1],:], ignore_index=True)

     기간  대분류   분류 공교육 환경 사교육 전체    비용  교육수준   접근성
0  2013  서울시  서울시   5.74   4.83  3.87  5.09  5.52
1  2014  서울시  서울시   5.53   4.75  3.74  5.07  5.44
2  2015  서울시  서울시   5.56   5.03  4.07  5.49  5.51
3  2016  서울시  서울시   5.43   5.22  4.21   5.6  5.85
4  2017  서울시  서울시    5.5   5.24  4.29  5.58  5.86
5  2018  서울시  서울시    NaN   5.24  4.25  5.59  5.89
6  2019  서울시  서울시   5.43    5.4  4.49   5.7  5.95
7  2020  서울시  서울시    5.3   5.38     …     …     …

In [8]:
seoul_edu_df.drop(['대분류','분류'], axis=1, inplace=True)

In [9]:
seoul_edu_df.set_index(['기간'])

     공교육 환경 사교육 전체    비용  교육수준   접근성
기간
2013   5.74   4.83  3.87  5.09  5.52
2014   5.53   4.75  3.74  5.07  5.44
2015   5.56   5.03  4.07  5.49  5.51
2016   5.43   5.22  4.21   5.6  5.85
2017    5.5   5.24  4.29  5.58  5.86
2018    NaN   5.24  4.25  5.59  5.89
2019   5.43    5.4  4.49   5.7  5.95
2020    5.3   5.38     …     …     …

In [10]:
plt.figure(figsize=(10,10))
plt.plot(sum_edu_df['기간'], sum_edu_df['사교육 만족도'], label='사교육', marker='o', mec='w', mew=3, ms=10)
plt.plot(sum_edu_df['기간'], sum_edu_df['공교육 만족도'], label='공교육', marker='o', mec='w', mew=3, ms=10)
plt.legend()
plt.title('년도별 공/사교육 만족도', pad= 25)
plt.xlabel('년도', labelpad= 25)
plt.ylabel('만족도(최대 10점)', labelpad=25)
plt.savefig('save_GongSa_satifi.png', dpi=150)

NameError: name 'sum_edu_df' is not defined